In [6]:
import pandas as pd
import sys
sys.path.append("../src/utils")
from utils import read_raw_network_data

In [7]:
trafo_id = "T1330" #T1330 T0932
data, _ = read_raw_network_data(trafo_id, depth=1)

In [46]:
data["nodes_static_data"].head()

,Unnamed: 0,aclass_id,bus,smm,prikljucna_moc_odjem,prikljucna_moc_oddaja,x_y,lon_lat
0,NaN,junction,97327,NaN,NaN,NaN,"(530588.0843000002, 153821.05189999938)","(21.48883237280564, 49.25298769476685)"
1,83736.0,PMO,55363,110471.0,35.0,0.0,"(530715.1489000004, 154094.69480000064)","(21.490457517273, 49.25545698477883)"
2,83352.0,PMO,55364,91558.0,17.0,14.0,"(530714.4113999996, 153845.96270000003)","(21.49046867801605, 49.25321912788421)"
3,13347.0,PMO,55367,30234.0,14.0,0.0,"(530699.8213, 153848.67300000042)","(21.490279227137176, 49.253242668676066)"
4,13023.0,PMO,55368,30233.0,14.0,0.0,"(530683.6710999999, 153849.89320000075)","(21.49006966676341, 49.25325271264873)"

In [47]:
data.keys()

dict_keys(['lines_static_data', 'nodes_static_data', 'SMM_measurements', 'TP_measurements'])

In [48]:
def drop_unnamed(data):
    """ 
    drops all columns named "Unnamed: 0"
    """
    keys = data.keys()
    drop_data = dict()
    
    for key in keys:
        drop_data[key] = data[key].drop(columns=["Unnamed: 0"])
        
    return drop_data

In [49]:
drop_data = drop_unnamed(data)
drop_data["nodes_static_data"].head()

,aclass_id,bus,smm,prikljucna_moc_odjem,prikljucna_moc_oddaja,x_y,lon_lat
0,junction,97327,NaN,NaN,NaN,"(530588.0843000002, 153821.05189999938)","(21.48883237280564, 49.25298769476685)"
1,PMO,55363,110471.0,35.0,0.0,"(530715.1489000004, 154094.69480000064)","(21.490457517273, 49.25545698477883)"
2,PMO,55364,91558.0,17.0,14.0,"(530714.4113999996, 153845.96270000003)","(21.49046867801605, 49.25321912788421)"
3,PMO,55367,30234.0,14.0,0.0,"(530699.8213, 153848.67300000042)","(21.490279227137176, 49.253242668676066)"
4,PMO,55368,30233.0,14.0,0.0,"(530683.6710999999, 153849.89320000075)","(21.49006966676341, 49.25325271264873)"

In [50]:
import os

def save_raw_network_data(trafo_id, data, depth=1):
    """
    Reads all csv files from a given transformer stations. Depth is number of parent filders to get to GraphVolt folder.
    """
    #get parent dir of cwd
    parent_dir = os.getcwd()
    for _ in range(depth):
        parent_dir = os.path.abspath(os.path.join(parent_dir, os.pardir))
    #get data folder and then to networks_raw_folder
    path_data_raw = os.path.join(parent_dir, 'data', 'networks_data_raw')

    tablenames = ["edges_static_data", "nodes_static_data", "SMM_measurements", "TP_measurements"]

    #get path to network
    path_network = os.path.join(path_data_raw, f"{trafo_id}_anon_procesed")

    #read all csv files from path_network
    df_network_dict = {}
    for tablename in tablenames:
        path_table = os.path.join(path_network, f"{trafo_id}_{tablename}.csv")
        # df_network_dict[tablename] = pd.read_csv(path_table, sep=",", decimal=".")
        data[tablename].to_csv(path_table, sep=",", decimal=".", index=False)
        
    
    return trafo_id

In [51]:
save_raw_network_data(trafo_id, drop_data, depth=1)

'T1330'