In [3]:
import pandas as pd
import os

In [4]:
#get parent dir of cwd
parent_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
#get data folder and then to networks_raw_folder
path_data_raw = os.path.join(parent_dir, 'data', 'networks_data_raw')

In [25]:
trafo_id = "T1330"
tablenames = ["lines_static_data", "nodes_static_data", "SMM_measurements", "TP_measurements"]

In [26]:
#get path to network
path_network = os.path.join(path_data_raw, f"{trafo_id}_anon_procesed")

In [27]:
#read all csv files from path_network
df_network_dict = {}
for tablename in tablenames:
    path_table = os.path.join(path_network, f"{trafo_id}_{tablename}.csv")
    df_network_dict[tablename] = pd.read_csv(path_table, sep=",", decimal=".")

In [29]:
df_network_dict["nodes_static_data"][df_network_dict["nodes_static_data"].aclass_id == "RO"]

,Unnamed: 0,aclass_id,bus,smm,prikljucna_moc_odjem,prikljucna_moc_oddaja,x,y,lon,lat
142,NaN,RO,2860,NaN,NaN,NaN,530614.5627,153929.5250,21.489167,49.253965
143,NaN,RO,2861,NaN,NaN,NaN,530582.3731,153957.0058,21.488747,49.254211
144,NaN,RO,2862,NaN,NaN,NaN,530534.8116,153926.6463,21.488133,49.253935
146,NaN,RO,2864,NaN,NaN,NaN,530490.6840,154025.4179,21.487552,49.254821
147,NaN,RO,2865,NaN,NaN,NaN,530490.6740,154025.2579,21.487552,49.254819
148,NaN,RO,2859,NaN,NaN,NaN,530624.3165,154054.6560,21.489283,49.255092
149,NaN,RO,2867,NaN,NaN,NaN,530465.5812,153943.5176,21.487233,49.254082

In [17]:
def read_network_data(trafo_id, depth=1):
    """
    Reads all csv files from a given transformer stations. Depth is number of parent folders to get to GraphVold folder.
    """
    #get parent dir of cwd
    parent_dir = os.getcwd()
    for _ in range(depth):
        parent_dir = os.path.abspath(os.path.join(parent_dir, os.pardir))
    #get data folder and then to networks_raw_folder
    path_data_raw = os.path.join(parent_dir, 'data', 'networks_data_raw')

    tablenames = ["lines_static_data", "nodes_static_data", "SMM_measurements", "TP_measurements"]

    #get path to network
    path_network = os.path.join(path_data_raw, f"{trafo_id}_anon_procesed")

    #read all csv files from path_network
    df_network_dict = {}
    for tablename in tablenames:
        path_table = os.path.join(path_network, f"{trafo_id}_{tablename}.csv")
        df_network_dict[tablename] = pd.read_csv(path_table, sep=",", decimal=".")
    
    return df_network_dict

In [30]:
import sys
sys.path.append("../src/utils")
from utils import read_raw_network_data

In [31]:
read_raw_network_data("T1330", depth=1)

({'lines_static_data':      Unnamed: 0  from_bus  to_bus  length_km  r_ohm_per_km  x_ohm_per_km  \
  0         33401     55579   96697      0.055         0.533         0.079
  1         33405     55593   96697      0.037         0.533         0.079
  2         33411     55615   96697      0.038         1.040         0.081
  3         33412     55615   55625      0.035         0.627         0.081
  4         33587     55363   93670      0.144         0.533         0.079
  ..          ...       ...     ...        ...           ...           ...
  109       61882      2859   77748      0.069         0.568         0.075
  110       62245     55412   94541      0.033         0.568         0.075
  111       62250     55416   94541      0.012         1.040         0.081
  112       62821     55568   78409      0.067         1.040         0.081
  113       62954     55372   78468      0.066         0.265         0.073

       max_i_ka type  d_mm2                                             coords  \
  0       0.176   cs   70.0  [[530374.6612999998, 153999.8621999994], [5303...
  1       0.176   cs   70.0  [[530337.4517000001, 154015.33029999956], [530...
  2       0.120   cs   35.0  [[530337.4517000001, 154015.33029999956], [530...
  3       0.159   cs   35.0  [[530331.6523000002, 154036.7006000001], [5303...
  4       0.176   cs   70.0  [[530715.1489000004, 154094.69480000064], [530...
  ..        ...  ...    ...                                                ...
  109     0.203   cs   70.0  [[530603.8502000002, 154089.2053999994], [5306...
  110     0.203   cs   70.0  [[530559.4951, 153843.3548000008], [530560.737...
  111     0.120   cs   35.0  [[530557.2988999998, 153836.38829999976], [530...
  112     0.120   cs   35.0  [[530387.7845999999, 153909.52270000055], [530...
  113     0.311   cs  150.0  [[530708.0861, 153760.43909999914], [530707.24...

                                      coords_transformed
  0    [[21.486049387812564, 49.254584020619056], [21...
  1    [[21.485565488389135, 49.2547210147785], [21.4...
  2    [[21.485565488389135, 49.2547210147785], [21.4...
  3    [[21.48548847348933, 49.25491294229187], [21.4...
  4    [[21.490457517273, 49.25545698477883], [21.490...
  ..                                                 ...
  109  [[21.48901443919316, 49.25540115468518], [21.4...
  110  [[21.488459723817847, 49.25318669301872], [21....
  111  [[21.488431823209645, 49.25312388877613], [21....
  112  [[21.486227183593662, 49.25377201198387], [21....
  113  [[21.49039376960905, 49.2524493160037], [21.49...

  [114 rows x 11 columns],
  'nodes_static_data':      Unnamed: 0 aclass_id    bus       smm  prikljucna_moc_odjem  \
  0           NaN  junction  97327       NaN                   NaN
  1       83736.0       PMO  55363  110471.0                  35.0
  2       83352.0       PMO  55364   91558.0                  17.0
  3       13347.0       PMO  55367   30234.0                  14.0
  4       13023.0       PMO  55368   30233.0                  14.0
  ..          ...       ...    ...       ...                   ...
  152         NaN  junction  97094       NaN                   NaN
  153     16899.0       PMO  55625   30464.0                  17.0
  154         NaN  junction  94541       NaN                   NaN
  155     90809.0       PMO  77748  124339.0                  17.0
  156         NaN  junction  96697       NaN                   NaN

       prikljucna_moc_oddaja            x            y        lon        lat
  0                      NaN  530588.0843  153821.0519  21.488832  49.252988
  1                      0.0  530715.1489  154094.6948  21.490458  49.255457
  2                     14.0  530714.4114  153845.9627  21.490469  49.253219
  3                      0.0  530699.8213  153848.6730  21.490279  49.253243
  4                      0.0  530683.6711  153849.8932  21.490070  49.253253
  ..                     ...          ...          ...        ...        ...
  152                    NaN  530582.2851  154025.6464  21.488740  49.254828
  153                    0.0  530317.2416  154018.5907  21.485303  49.254749
  154                    NaN  530559.4951  153843.3548  21.488460  49.253187
  155                    0.0  530603.8502  154089.2054  21.489014  49.255401
  156                    NaN  530337.4517  154015.3303  21.485565  49.254721

  [157 rows x 10 columns],
  'SMM_measurements':          Unnamed: 0     SMM  trafo_station_id  active_energy  active_power  \
  0                 0   91598              2063          0.034         0.136
  1                 1   91598              2063          0.135         0.540
  2                 2   91598              2063          0.027         0.108
  3                 3   91598              2063          0.135         0.540
  4                 4   91598              2063          0.135         0.540
  ...             ...     ...               ...            ...           ...
  8575980     8575980  115604              2063          0.004         0.016
  8575981     8575981   91558              2063         -0.177        -0.708
  8575982     8575982  115604              2063         -0.419        -1.676
  8575983     8575983  115604              2063         -0.715        -2.860
  8575984     8575984  115604              2063         -1.873        -7.492

           reactive_energy  reactive_power            date_time  trafo_id  \
  0                    0.0             0.0  2021-06-01 03:15:00       440
  1                    0.0             0.0  2021-06-01 07:45:00       440
  2                    0.0             0.0  2021-06-01 23:30:00       440
  3                    0.0             0.0  2021-06-01 06:30:00       440
  4                    0.0             0.0  2021-06-01 07:30:00       440
  ...                  ...             ...                  ...       ...
  8575980              0.0             0.0  2023-06-01 20:00:00       440
  8575981              0.0             0.0  2023-06-01 17:00:00       440
  8575982              0.0             0.0  2023-06-01 08:15:00       440
  8575983              0.0             0.0  2023-06-01 14:00:00       440
  8575984              0.0             0.0  2023-06-01 11:15:00       440

           current     voltage  temperature_2m  snow_depth  cloud_cover  is_day  \
  0            NaN  231.900000       11.701500         0.0    19.050000     0.0
  1            NaN  231.566667       15.964000         0.0    14.250001     1.0
  2            NaN  232.633333       13.401501         0.0    15.599998     0.0
  3            NaN  232.316667       14.226500         0.0     9.150000     1.0
  4            NaN  233.683333       15.601500         0.0    10.800000     1.0
  ...          ...         ...             ...         ...          ...     ...
  8575980      NaN  230.966667       19.480999         0.0    27.600000     0.0
  8575981      NaN  229.933333       20.626500         0.0    50.400000     1.0
  8575982      NaN  232.733333       20.105999         0.0    10.800000     1.0
  8575983      NaN  231.466667       22.431000         0.0    42.600000     1.0
  8575984      NaN  232.466667       22.243500         0.0    25.725000     1.0

           shortwave_radiation  direct_radiation  diffuse_radiation  \
  0                       3.50              1.00               2.50
  1                     540.50            392.75             147.75
  2                       0.00              0.00               0.00
  3                     330.00            224.00             106.00
  4                     491.00            350.50             140.50
  ...                      ...               ...                ...
  8575980                 0.00              0.00               0.00
  8575981               184.00             90.00              94.00
  8575982               624.00            490.00             134.00
  8575983               596.00            427.00             169.00
  8575984               831.75            653.00             178.75

           direct_normal_irradiance
  0                       11.289428
  1                      623.158400
  2                        0.000000
  3                      514.942200
  4                      587.436900
  ...                           ...
  8575980                  0.000000
  8575981                253.018700
  8575982                709.698700
  8575983                548.066960
  8575984                721.426600

  [8575985 rows x 19 columns],
  'TP_measurements':         Unnamed: 0  trafo_id  trafo_station_id            date_time  \
  0                0       440              2063  2021-06-01 05:30:00
  1                1       440              2063  2021-06-01 03:10:00
  2                2       440              2063  2021-06-01 21:05:00
  3                3       440              2063  2021-06-01 10:35:00
  4                4       440              2063  2021-06-01 04:55:00
  ...            ...       ...               ...                  ...
  210520      210520       440              2063  2023-05-18 01:15:00
  210521      210521       440              2063  2023-05-18 17:10:00
  210522      210522       440              2063  2023-05-18 23:10:00
  210523      210523       440              2063  2023-05-18 20:20:00
  210524      210524       440              2063  2023-05-18 21:15:00

          active_power  reactive_power     voltage     current
  0             168500           43800  231.580000  250.633333
  1             124300           21500  231.840000  181.400000
  2             257600           46600  233.090000  374.433333
  3             238400           43700  230.546667  350.500000
  4             143200           30200  231.826667  210.533333
  ...              ...             ...         ...         ...
  210520         98300            8500  232.346667  141.733333
  210521        216500           29100  230.543333  316.133333
  210522        125400            3500  232.196667  180.566667
  210523        227100           28700  230.560000  331.200000
  210524        219600           33800  232.186667  318.966667

  [210525 rows x 8 columns]},
 'c:\\Users\\Karel\\Documents\\eg\\GraphVolt\\data\\networks_data_raw\\T1330_anon_procesed')