In [1]:
import pandas as pd
import os

In [2]:
#get parent dir of cwd
parent_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir))
#get data folder and then to networks_raw_folder
path_data_raw = os.path.join(parent_dir, 'data', 'networks_data_raw')

In [3]:
trafo_id = "T1330"
tablenames = ["lines_static_data", "nodes_static_data", "SMM_measurements", "TP_measurements"]

In [4]:
#get path to network
path_network = os.path.join(path_data_raw, f"{trafo_id}_anon_procesed")

In [5]:
#read all csv files from path_network
df_network_dict = {}
for tablename in tablenames:
    path_table = os.path.join(path_network, f"{trafo_id}_{tablename}.csv")
    df_network_dict[tablename] = pd.read_csv(path_table, sep=",", decimal=".")

In [6]:
def read_network_data(trafo_id, depth=1):
    """
    Reads all csv files from a given transformer stations. Depth is number of parent folders to get to GraphVold folder.
    """
    #get parent dir of cwd
    parent_dir = os.getcwd()
    for _ in range(depth):
        parent_dir = os.path.abspath(os.path.join(parent_dir, os.pardir))
    #get data folder and then to networks_raw_folder
    path_data_raw = os.path.join(parent_dir, 'data', 'networks_data_raw')

    tablenames = ["lines_static_data", "nodes_static_data", "SMM_measurements", "TP_measurements"]

    #get path to network
    path_network = os.path.join(path_data_raw, f"{trafo_id}_anon_procesed")

    #read all csv files from path_network
    df_network_dict = {}
    for tablename in tablenames:
        path_table = os.path.join(path_network, f"{trafo_id}_{tablename}.csv")
        df_network_dict[tablename] = pd.read_csv(path_table, sep=",", decimal=".")
    
    return df_network_dict

In [7]:
import sys
sys.path.append("../src/utils")
from utils import read_raw_network_data

In [8]:
data = read_raw_network_data("T1330", depth=1)

In [9]:
data[0]["SMM_measurements"]

,SMM,trafo_station_id,active_energy,active_power,reactive_energy,reactive_power,date_time,trafo_id,current,voltage,temperature_2m,snow_depth,cloud_cover,is_day,shortwave_radiation,direct_radiation,diffuse_radiation,direct_normal_irradiance
0,91598,2063,0.034,0.136,0.0,0.0,2021-06-01 03:15:00,440,NaN,231.900000,11.701500,0.0,19.050000,0.0,3.50,1.00,2.50,11.289428
1,91598,2063,0.135,0.540,0.0,0.0,2021-06-01 07:45:00,440,NaN,231.566667,15.964000,0.0,14.250001,1.0,540.50,392.75,147.75,623.158400
2,91598,2063,0.027,0.108,0.0,0.0,2021-06-01 23:30:00,440,NaN,232.633333,13.401501,0.0,15.599998,0.0,0.00,0.00,0.00,0.000000
3,91598,2063,0.135,0.540,0.0,0.0,2021-06-01 06:30:00,440,NaN,232.316667,14.226500,0.0,9.150000,1.0,330.00,224.00,106.00,514.942200
4,91598,2063,0.135,0.540,0.0,0.0,2021-06-01 07:30:00,440,NaN,233.683333,15.601500,0.0,10.800000,1.0,491.00,350.50,140.50,587.436900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8575980,115604,2063,0.004,0.016,0.0,0.0,2023-06-01 20:00:00,440,NaN,230.966667,19.480999,0.0,27.600000,0.0,0.00,0.00,0.00,0.000000
8575981,91558,2063,-0.177,-0.708,0.0,0.0,2023-06-01 17:00:00,440,NaN,229.933333,20.626500,0.0,50.400000,1.0,184.00,90.00,94.00,253.018700
8575982,115604,2063,-0.419,-1.676,0.0,0.0,2023-06-01 08:15:00,440,NaN,232.733333,20.105999,0.0,10.800000,1.0,624.00,490.00,134.00,709.698700
8575983,115604,2063,-0.715,-2.860,0.0,0.0,2023-06-01 14:00:00,440,NaN,231.466667,22.431000,0.0,42.600000,1.0,596.00,427.00,169.00,548.066960
8575984,115604,2063,-1.873,-7.492,0.0,0.0,2023-06-01 11:15:00,440,NaN,232.466667,22.243500,0.0,25.725000,1.0,831.75,653.00,178.75,721.426600