In [1]:
import pandas as pd
import sys
sys.path.append("../src/utils")
from utils import *

In [2]:
trafo_id = "T1330" #T1330 T0932
data = read_and_prepare_data(trafo_id, depth=1)

In [3]:
data.keys()

dict_keys(['edges_static_data', 'measurements'])

In [4]:
data['edges_static_data'].head()

,from_node_id,to_node_id,length_km,r_ohm_per_km,x_ohm_per_km,max_i_ka,d_mm2
0,94,110,0.055,0.533,0.079,0.176,70.0
1,100,110,0.037,0.533,0.079,0.176,70.0
2,103,110,0.038,1.040,0.081,0.120,35.0
3,103,104,0.035,0.627,0.081,0.159,35.0
4,6,7,0.092,0.533,0.079,0.176,70.0

In [5]:
data['edges_static_data'].columns

Index(['from_node_id', 'to_node_id', 'length_km', 'r_ohm_per_km',
       'x_ohm_per_km', 'max_i_ka', 'd_mm2'],
      dtype='object')

In [6]:
data['measurements'].head()

,node_id,power_production,power_consumption,PMO,TR,junction,date_time,voltage,temperature_2m,snow_depth,...,direct_radiation,diffuse_radiation,direct_normal_irradiance,active_power,reactive_power,year,month,day,hour,minute
0,0,0.0,0.0,0,1,0,2021-06-01 00:00:00,234.257778,10.065499,0.0,...,0.0,0.0,0.0,152100.000000,23600.000000,2021,6,1,0,0
1,0,0.0,0.0,0,1,0,2021-06-01 00:15:00,234.101111,9.965500,0.0,...,0.0,0.0,0.0,129466.666667,19766.666667,2021,6,1,0,15
2,0,0.0,0.0,0,1,0,2021-06-01 00:30:00,234.752222,9.865500,0.0,...,0.0,0.0,0.0,126266.666667,20233.333333,2021,6,1,0,30
3,0,0.0,0.0,0,1,0,2021-06-01 00:45:00,232.908889,9.765499,0.0,...,0.0,0.0,0.0,116766.666667,14400.000000,2021,6,1,0,45
4,0,0.0,0.0,0,1,0,2021-06-01 01:00:00,232.536667,9.665500,0.0,...,0.0,0.0,0.0,121866.666667,17600.000000,2021,6,1,1,0

In [7]:
np.mean(data['measurements']['active_power'])

1852.978493741347

In [8]:
#print column names of measurements
columns = data['measurements'].columns

columns

Index(['node_id', 'power_production', 'power_consumption', 'PMO', 'TR',
       'junction', 'date_time', 'voltage', 'temperature_2m', 'snow_depth',
       'cloud_cover', 'is_day', 'shortwave_radiation', 'direct_radiation',
       'diffuse_radiation', 'direct_normal_irradiance', 'active_power',
       'reactive_power', 'year', 'month', 'day', 'hour', 'minute'],
      dtype='object')

In [9]:
column_list = [i for i in list(columns) if i not in ['node_id', 'PMO', 'TR', 'junction', 'date_time']]
column_list

['power_production',
 'power_consumption',
 'voltage',
 'temperature_2m',
 'snow_depth',
 'cloud_cover',
 'is_day',
 'shortwave_radiation',
 'direct_radiation',
 'diffuse_radiation',
 'direct_normal_irradiance',
 'active_power',
 'reactive_power',
 'year',
 'month',
 'day',
 'hour',
 'minute']

In [10]:
data_normalize = data['measurements'][column_list]

In [11]:
mean_m = data_normalize.mean()

In [12]:
mean_m

power_production              22.008850
power_consumption              0.840708
voltage                      230.208673
temperature_2m                10.835699
snow_depth                     0.029408
cloud_cover                   49.902385
is_day                         0.496662
shortwave_radiation          150.094356
direct_radiation              93.548606
diffuse_radiation             56.545751
direct_normal_irradiance     170.165771
active_power                1852.978494
reactive_power               346.405824
year                        2021.913699
month                          6.526027
day                           15.720548
hour                          11.500000
minute                        22.500000
dtype: float64

In [13]:
std_m = data_normalize.std()

In [14]:
std_m

power_production               32.863220
power_consumption               3.981298
voltage                         4.646129
temperature_2m                  8.760929
snow_depth                      0.078731
cloud_cover                    37.191024
is_day                          0.499988
shortwave_radiation           222.949413
direct_radiation              166.088653
diffuse_radiation              74.543393
direct_normal_irradiance      249.456885
active_power                20738.635005
reactive_power               4377.826245
year                            0.701821
month                           3.447852
day                             8.796248
hour                            6.922187
minute                         16.770511
dtype: float64

In [15]:
for column in column_list:
    data_new = (data['measurements'][column] - mean_m[column]) / std_m[column]
    data['measurements'][column] = data_new

In [16]:
data['measurements'].head()

,node_id,power_production,power_consumption,PMO,TR,junction,date_time,voltage,temperature_2m,snow_depth,...,direct_radiation,diffuse_radiation,direct_normal_irradiance,active_power,reactive_power,year,month,day,hour,minute
0,0,-0.669711,-0.211164,0,1,0,2021-06-01 00:00:00,0.871501,-0.087913,-0.373525,...,-0.563245,-0.758562,-0.682145,7.244788,5.311676,-1.301898,-0.152567,-1.673503,-1.661325,-1.341641
1,0,-0.669711,-0.211164,0,1,0,2021-06-01 00:15:00,0.837781,-0.099327,-0.373525,...,-0.563245,-0.758562,-0.682145,6.153428,4.436051,-1.301898,-0.152567,-1.673503,-1.661325,-0.447214
2,0,-0.669711,-0.211164,0,1,0,2021-06-01 00:30:00,0.977922,-0.110742,-0.373525,...,-0.563245,-0.758562,-0.682145,5.999126,4.542649,-1.301898,-0.152567,-1.673503,-1.661325,0.447214
3,0,-0.669711,-0.211164,0,1,0,2021-06-01 00:45:00,0.581175,-0.122156,-0.373525,...,-0.563245,-0.758562,-0.682145,5.541044,3.210176,-1.301898,-0.152567,-1.673503,-1.661325,1.341641
4,0,-0.669711,-0.211164,0,1,0,2021-06-01 01:00:00,0.501061,-0.133570,-0.373525,...,-0.563245,-0.758562,-0.682145,5.786962,3.941133,-1.301898,-0.152567,-1.673503,-1.516862,-1.341641

In [22]:
def normalize_data(data, column_list):
    
    # columns_replace = [i for i in list(columns) if i not in column_list]
    data_normalize = data.drop(columns=column_list)
    
    mean = data_normalize.mean()
    std = data_normalize.std()
    
    for column in data_normalize.columns:
        data_new = (data[column] - mean[column]) / std[column]
        data[column] = data_new
        
    return data, (mean, std)

In [23]:
from copy import deepcopy
data_normalized = deepcopy(data)
data_normalized['measurements'] = normalize_data(data_normalized['measurements'], ['node_id', 'PMO', 'TR', 'junction', 'date_time'])
data_normalized['edges_static_data'] = normalize_data(data_normalized['edges_static_data'], ['from_node_id', 'to_node_id'])

In [27]:
data_normalized['measurements'].min()

node_id                                       0
power_production                      -0.669711
power_consumption                     -0.211164
PMO                                           0
TR                                            0
junction                                      0
date_time                   2021-06-01 00:00:00
voltage                              -49.548493
temperature_2m                        -2.746421
snow_depth                            -0.373525
cloud_cover                           -1.341786
is_day                                -0.993346
shortwave_radiation                   -0.673222
direct_radiation                      -0.563245
diffuse_radiation                     -0.758562
direct_normal_irradiance              -0.682145
active_power                          -0.090799
reactive_power                        -6.566365
year                                  -1.301898
month                                 -1.602745
day                                   -1.673503
hour                                  -1.661325
minute                                -1.341641
dtype: object

In [28]:
data_normalized['measurements'].max()

node_id                                     112
power_production                       8.489465
power_consumption                       8.07759
PMO                                           1
TR                                            1
junction                                      1
date_time                   2023-05-31 23:45:00
voltage                                2.186335
temperature_2m                         2.976831
snow_depth                             5.469126
cloud_cover                            1.347035
is_day                                   1.0067
shortwave_radiation                    3.462246
direct_radiation                       4.127021
diffuse_radiation                      4.755006
direct_normal_irradiance               3.052212
active_power                          23.189264
reactive_power                        26.258145
year                                   1.547833
month                                  1.587647
day                                    1.737042
hour                                   1.661325
minute                                 1.341641
dtype: object

In [20]:
data['edges_static_data']['length_km']

0      0.055
1      0.037
2      0.038
3      0.035
4      0.092
       ...
109    0.237
110    0.230
111    0.187
112    0.006
113    0.006
Name: length_km, Length: 114, dtype: float64