In [143]:
from torch_geometric_temporal.dataset import ChickenpoxDatasetLoader, WikiMathsDatasetLoader, WikiMathsDatasetLoader, WindmillOutputLargeDatasetLoader
import numpy as np

In [45]:
loader = ChickenpoxDatasetLoader()

dataset = loader.get_dataset()

In [43]:
loader._dataset.keys()

dict_keys(['edges', 'weights', 'node_ids', 'time_periods', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179', '180', '181', '182', '183', '184', '185', '186', '187', '188', '189', '190', '191', '192', '193', '194', '195', '196', '197', '198', '199', '200', '201', '202', '203', '204', '205', '206', '207', '208', '209', '210', '211', '212', '213', '214', '215', '216', '217', '218', '219', '220', '221', '222', '223', '224', '225', '226', '227', '228', '229', '230', '231', '232', '233', '234', '235', '236', '237', '238', '239', '240', '241', '242', '243', '244', '245', '246', '247', '248', '249', '250', '251', '252', '253', '254', '255', '256', '257', '258', '259', '260', '261', '262', '263', '264', '265', '266', '267', '268', '269', '270', '271', '272', '273', '274', '275', '276', '277', '278', '279', '280', '281', '282', '283', '284', '285', '286', '287', '288', '289', '290', '291', '292', '293', '294', '295', '296', '297', '298', '299', '300', '301', '302', '303', '304', '305', '306', '307', '308', '309', '310', '311', '312', '313', '314', '315', '316', '317', '318', '319', '320', '321', '322', '323', '324', '325', '326', '327', '328', '329', '330', '331', '332', '333', '334', '335', '336', '337', '338', '339', '340', '341', '342', '343', '344', '345', '346', '347', '348', '349', '350', '351', '352', '353', '354', '355', '356', '357', '358', '359', '360', '361', '362', '363', '364', '365', '366', '367', '368', '369', '370', '371', '372', '373', '374', '375', '376', '377', '378', '379', '380', '381', '382', '383', '384', '385', '386', '387', '388', '389', '390', '391', '392', '393', '394', '395', '396', '397', '398', '399', '400', '401', '402', '403', '404', '405', '406', '407', '408', '409', '410', '411', '412', '413', '414', '415', '416', '417', '418', '419', '420', '421', '422', '423', '424', '425', '426', '427', '428', '429', '430', '431', '432', '433', '434', '435', '436', '437', '438', '439', '440', '441', '442', '443', '444', '445', '446', '447', '448', '449', '450', '451', '452', '453', '454', '455', '456', '457', '458', '459', '460', '461', '462', '463', '464', '465', '466', '467', '468', '469', '470', '471', '472', '473', '474', '475', '476', '477', '478', '479', '480', '481', '482', '483', '484', '485', '486', '487', '488', '489', '490', '491', '492', '493', '494', '495', '496', '497', '498', '499', '500', '501', '502', '503', '504', '505', '506', '507', '508', '509', '510', '511', '512', '513', '514', '515', '516', '517', '518', '519', '520', '521', '522', '523', '524', '525', '526', '527', '528', '529', '530', '531', '532', '533', '534', '535', '536', '537', '538', '539', '540', '541', '542', '543', '544', '545', '546', '547', '548', '549', '550', '551', '552', '553', '554', '555', '556', '557', '558', '559', '560', '561', '562', '563', '564', '565', '566', '567', '568', '569', '570', '571', '572', '573', '574', '575', '576', '577', '578', '579', '580', '581', '582', '583', '584', '585', '586', '587', '588', '589', '590', '591', '592', '593', '594', '595', '596', '597', '598', '599', '600', '601', '602', '603', '604', '605', '606', '607', '608', '609', '610', '611', '612', '613', '614', '615', '616', '617', '618', '619', '620', '621', '622', '623', '624', '625', '626', '627', '628', '629', '630', '631', '632', '633', '634', '635', '636', '637', '638', '639', '640', '641', '642', '643', '644', '645', '646', '647', '648', '649', '650', '651', '652', '653', '654', '655', '656', '657', '658', '659', '660', '661', '662', '663', '664', '665', '666', '667', '668', '669', '670', '671', '672', '673', '674', '675', '676', '677', '678', '679', '680', '681', '682', '683', '684', '685', '686', '687', '688', '689', '690', '691', '692', '693', '694', '695', '696', '697', '698', '699', '700', '701', '702', '703', '704', '705', '706', '707', '708', '709', '710', '711', '712', '713', '714', '715', '716', '717', '718', '719', '720', '721', '722', '723', '724', '725', '726', '727', '728', '729', '730'])

In [44]:
np.array(loader._dataset['edges']).shape

(27079, 2)

In [35]:
loader._edges.shape

(2, 102)

In [16]:
np.array(loader._dataset['FX']).shape

(521, 20)

In [27]:
np.array(loader.features).shape

(517, 20, 4)

In [29]:
np.array(loader.targets).shape

(517, 20)

In [72]:
loader = WikiMathsDatasetLoader()

dataset = loader.get_dataset()

In [73]:
loader._dataset.keys()

dict_keys(['edges', 'weights', 'node_ids', 'time_periods', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179', '180', '181', '182', '183', '184', '185', '186', '187', '188', '189', '190', '191', '192', '193', '194', '195', '196', '197', '198', '199', '200', '201', '202', '203', '204', '205', '206', '207', '208', '209', '210', '211', '212', '213', '214', '215', '216', '217', '218', '219', '220', '221', '222', '223', '224', '225', '226', '227', '228', '229', '230', '231', '232', '233', '234', '235', '236', '237', '238', '239', '240', '241', '242', '243', '244', '245', '246', '247', '248', '249', '250', '251', '252', '253', '254', '255', '256', '257', '258', '259', '260', '261', '262', '263', '264', '265', '266', '267', '268', '269', '270', '271', '272', '273', '274', '275', '276', '277', '278', '279', '280', '281', '282', '283', '284', '285', '286', '287', '288', '289', '290', '291', '292', '293', '294', '295', '296', '297', '298', '299', '300', '301', '302', '303', '304', '305', '306', '307', '308', '309', '310', '311', '312', '313', '314', '315', '316', '317', '318', '319', '320', '321', '322', '323', '324', '325', '326', '327', '328', '329', '330', '331', '332', '333', '334', '335', '336', '337', '338', '339', '340', '341', '342', '343', '344', '345', '346', '347', '348', '349', '350', '351', '352', '353', '354', '355', '356', '357', '358', '359', '360', '361', '362', '363', '364', '365', '366', '367', '368', '369', '370', '371', '372', '373', '374', '375', '376', '377', '378', '379', '380', '381', '382', '383', '384', '385', '386', '387', '388', '389', '390', '391', '392', '393', '394', '395', '396', '397', '398', '399', '400', '401', '402', '403', '404', '405', '406', '407', '408', '409', '410', '411', '412', '413', '414', '415', '416', '417', '418', '419', '420', '421', '422', '423', '424', '425', '426', '427', '428', '429', '430', '431', '432', '433', '434', '435', '436', '437', '438', '439', '440', '441', '442', '443', '444', '445', '446', '447', '448', '449', '450', '451', '452', '453', '454', '455', '456', '457', '458', '459', '460', '461', '462', '463', '464', '465', '466', '467', '468', '469', '470', '471', '472', '473', '474', '475', '476', '477', '478', '479', '480', '481', '482', '483', '484', '485', '486', '487', '488', '489', '490', '491', '492', '493', '494', '495', '496', '497', '498', '499', '500', '501', '502', '503', '504', '505', '506', '507', '508', '509', '510', '511', '512', '513', '514', '515', '516', '517', '518', '519', '520', '521', '522', '523', '524', '525', '526', '527', '528', '529', '530', '531', '532', '533', '534', '535', '536', '537', '538', '539', '540', '541', '542', '543', '544', '545', '546', '547', '548', '549', '550', '551', '552', '553', '554', '555', '556', '557', '558', '559', '560', '561', '562', '563', '564', '565', '566', '567', '568', '569', '570', '571', '572', '573', '574', '575', '576', '577', '578', '579', '580', '581', '582', '583', '584', '585', '586', '587', '588', '589', '590', '591', '592', '593', '594', '595', '596', '597', '598', '599', '600', '601', '602', '603', '604', '605', '606', '607', '608', '609', '610', '611', '612', '613', '614', '615', '616', '617', '618', '619', '620', '621', '622', '623', '624', '625', '626', '627', '628', '629', '630', '631', '632', '633', '634', '635', '636', '637', '638', '639', '640', '641', '642', '643', '644', '645', '646', '647', '648', '649', '650', '651', '652', '653', '654', '655', '656', '657', '658', '659', '660', '661', '662', '663', '664', '665', '666', '667', '668', '669', '670', '671', '672', '673', '674', '675', '676', '677', '678', '679', '680', '681', '682', '683', '684', '685', '686', '687', '688', '689', '690', '691', '692', '693', '694', '695', '696', '697', '698', '699', '700', '701', '702', '703', '704', '705', '706', '707', '708', '709', '710', '711', '712', '713', '714', '715', '716', '717', '718', '719', '720', '721', '722', '723', '724', '725', '726', '727', '728', '729', '730'])

In [59]:
np.array(loader._dataset['0']['y']).shape

(1068,)

In [78]:
len(loader._dataset['node_ids'])

1068

In [86]:
np.array(loader.features).shape

(723, 1068, 8)

In [77]:
loader._dataset['0']

{'index': 0,
 'year': 2019,
 'month': 3,
 'day': 16,
 'y': [3962,
  774,
  1734,
  1016,
  2463,
  436,
  214,
  402,
  363,
  490,
  232,
  686,
  569,
  2389,
  2899,
  381,
  661,
  2672,
  457,
  278,
  747,
  725,
  16200,
  804,
  944,
  587,
  1593,
  856,
  1017,
  303,
  471,
  242,
  779,
  3302,
  1128,
  93,
  274,
  868,
  1431,
  360,
  154,
  874,
  467,
  209,
  908,
  1120,
  193,
  228,
  399,
  391,
  751,
  1127,
  873,
  1133,
  246,
  1449,
  1522,
  1148,
  380,
  503,
  579,
  1550,
  1528,
  579,
  1520,
  333,
  496,
  1578,
  344,
  452,
  1359,
  733,
  558,
  428,
  261,
  1028,
  911,
  567,
  1078,
  132,
  768,
  954,
  239,
  423,
  396,
  335,
  835,
  378,
  151,
  1281,
  251,
  633,
  392,
  1286,
  267,
  1156,
  346,
  1991,
  636,
  623,
  310,
  822,
  641,
  579,
  81,
  470,
  98,
  2486,
  679,
  1016,
  84,
  407,
  141,
  109,
  80,
  60,
  772,
  762,
  1413,
  463,
  14,
  670,
  329,
  193,
  405,
  402,
  728,
  232,
  469,
  571,
  145,
  409,
  98,
  255,
  175,
  62,
  220,
  66,
  79,
  334,
  44,
  332,
  1163,
  2896,
  813,
  389,
  340,
  1458,
  877,
  437,
  106,
  365,
  124,
  230,
  1116,
  1727,
  188,
  318,
  337,
  101,
  1535,
  999,
  2003,
  80,
  530,
  182,
  1852,
  124,
  99,
  835,
  417,
  47,
  285,
  115,
  251,
  157,
  362,
  1255,
  109,
  374,
  183,
  692,
  1910,
  787,
  950,
  340,
  586,
  74,
  112,
  308,
  197,
  945,
  693,
  678,
  248,
  399,
  45,
  155,
  73,
  316,
  370,
  151,
  996,
  1230,
  955,
  653,
  674,
  1020,
  965,
  775,
  1089,
  498,
  688,
  716,
  272,
  1168,
  3367,
  489,
  52,
  641,
  456,
  275,
  712,
  310,
  396,
  370,
  322,
  192,
  358,
  672,
  508,
  167,
  1239,
  1074,
  100,
  256,
  148,
  4297,
  458,
  448,
  463,
  70,
  814,
  291,
  579,
  503,
  1583,
  68,
  257,
  191,
  39,
  572,
  187,
  611,
  857,
  77,
  764,
  360,
  189,
  261,
  210,
  1108,
  298,
  1266,
  745,
  160,
  2663,
  146,
  1209,
  765,
  617,
  774,
  216,
  69,
  463,
  670,
  254,
  690,
  326,
  450,
  199,
  77,
  1172,
  424,
  290,
  610,
  308,
  800,
  430,
  227,
  300,
  1025,
  813,
  270,
  268,
  153,
  1687,
  112,
  570,
  352,
  36,
  1142,
  1400,
  107,
  327,
  246,
  223,
  158,
  168,
  504,
  930,
  286,
  1313,
  1556,
  550,
  647,
  839,
  362,
  184,
  1656,
  929,
  1111,
  257,
  199,
  100,
  65,
  229,
  721,
  723,
  429,
  2301,
  100,
  315,
  416,
  412,
  494,
  491,
  1915,
  255,
  1133,
  179,
  1008,
  642,
  852,
  75,
  134,
  131,
  217,
  1268,
  233,
  581,
  713,
  743,
  920,
  232,
  224,
  231,
  31,
  392,
  2354,
  816,
  196,
  341,
  549,
  505,
  502,
  44,
  431,
  692,
  1027,
  116,
  610,
  915,
  485,
  662,
  94,
  11,
  38,
  131,
  632,
  467,
  323,
  103,
  22,
  556,
  205,
  56,
  624,
  65,
  96,
  53,
  130,
  102,
  296,
  66,
  1068,
  319,
  454,
  402,
  32,
  296,
  77,
  81,
  141,
  173,
  121,
  229,
  239,
  102,
  279,
  32,
  281,
  521,
  466,
  64,
  802,
  263,
  5592,
  1482,
  1673,
  165,
  1149,
  5189,
  845,
  1055,
  1967,
  674,
  2681,
  1593,
  1647,
  769,
  1537,
  1509,
  480,
  1868,
  1013,
  68,
  83,
  466,
  970,
  1739,
  828,
  306,
  2333,
  1951,
  2283,
  538,
  565,
  700,
  547,
  1473,
  812,
  543,
  1119,
  917,
  1675,
  299,
  384,
  241,
  1958,
  374,
  324,
  242,
  201,
  1386,
  1267,
  626,
  1289,
  65,
  49,
  110,
  48,
  36,
  217,
  483,
  457,
  50,
  239,
  148,
  94,
  337,
  578,
  788,
  433,
  4592,
  540,
  250,
  519,
  2420,
  3810,
  407,
  1324,
  349,
  742,
  1069,
  887,
  593,
  695,
  134,
  398,
  768,
  1788,
  1683,
  518,
  495,
  558,
  333,
  254,
  130,
  62,
  2289,
  207,
  219,
  96,
  332,
  273,
  81,
  132,
  283,
  9,
  254,
  691,
  1341,
  104,
  234,
  695,
  1218,
  275,
  1951,
  490,
  1294,
  377,
  1720,
  931,
  424,
  374,
  232,
  333,
  1148,
  299,
  218,
  97,
  309,
  1925,
  490,
  451,
  157,
  1250,
  1009,
  221,
  256,
  341,
  957,
  198,
  354,
  759,
  429,
  348,
  193,
  330,
  659,
  141,
  588,
  751,
  502,
  436,
  108,
  239,
  437,
  177,
  182,
  187,
  96,
  243,
  39,
  5368,
  514,
  660,
  165,
  801,
  487,
  334,
  213,
  346,
  202,
  184,
  188,
  133,
  139,
  144,
  247,
  37,
  25,
  134,
  64,
  244,
  172,
  944,
  211,
  243,
  378,
  122,
  187,
  171,
  186,
  203,
  115,
  287,
  462,
  229,
  890,
  798,
  184,
  181,
  626,
  781,
  519,
  644,
  457,
  200,
  1525,
  680,
  139,
  550,
  195,
  136,
  130,
  1287,
  648,
  24,
  115,
  914,
  254,
  61,
  159,
  441,
  82,
  433,
  465,
  9,
  995,
  241,
  288,
  958,
  368,
  101,
  133,
  417,
  70,
  161,
  269,
  974,
  378,
  11,
  65,
  161,
  905,
  271,
  16,
  663,
  106,
  82,
  200,
  141,
  89,
  41,
  23,
  46,
  46,
  35,
  47,
  15,
  67,
  13,
  975,
  44,
  86,
  49,
  67,
  27,
  19,
  26,
  95,
  356,
  212,
  75,
  131,
  68,
  301,
  116,
  1391,
  79,
  205,
  678,
  46,
  234,
  158,
  7,
  14,
  16,
  14,
  15,
  27,
  67,
  682,
  383,
  98,
  59,
  15,
  50,
  74,
  80,
  102,
  40,
  33,
  25,
  25,
  23,
  36,
  54,
  50,
  20,
  32,
  571,
  308,
  232,
  38,
  16,
  404,
  204,
  55,
  117,
  861,
  40,
  6,
  5,
  460,
  310,
  566,
  435,
  2,
  164,
  93,
  57,
  308,
  387,
  76,
  85,
  542,
  60,
  75,
  385,
  31,
  453,
  2371,
  225,
  1538,
  836,
  476,
  443,
  446,
  386,
  460,
  41,
  198,
  208,
  265,
  646,
  150,
  407,
  437,
  360,
  46,
  51,
  172,
  85,
  227,
  163,
  270,
  357,
  1541,
  155,
  682,
  152,
  177,
  221,
  52,
  48,
  414,
  848,
  121,
  11,
  251,
  169,
  54,
  13,
  2100,
  309,
  615,
  203,
  1124,
  138,
  99,
  140,
  463,
  55,
  429,
  30,
  302,
  157,
  57,
  269,
  256,
  231,
  45,
  28,
  295,
  487,
  148,
  325,
  154,
  23,
  39,
  123,
  765,
  446,
  1036,
  881,
  1995,
  443,
  208,
  76,
  245,
  494,
  420,
  26,
  118,
  211,
  145,
  27,
  482,
  18,
  86,
  26,
  13,
  18,
  370,
  9,
  409,
  73,
  248,
  541,
  295,
  162,
  84,
  133,
  90,
  153,
  73,
  36,
  21,
  2323,
  155,
  186,
  608,
  71,
  69,
  229,
  337,
  35,
  70,
  132,
  178,
  154,
  638,
  150,
  30,
  46,
  80,
  68,
  238,
  3532,
  1454,
  1055,
  2414,
  101,
  17,
  170,
  710,
  167,
  413,
  48,
  349,
  460,
  201,
  295,
  96,
  28,
  1234,
  178,
  896,
  201,
  452,
  58,
  129,
  236,
  85,
  877,
  59,
  125,
  662,
  64,
  45,
  344,
  124,
  31,
  258,
  99,
  10,
  105,
  895,
  895,
  362,
  10,
  109,
  70,
  520,
  359,
  102,
  1672,
  264,
  214,
  176,
  205,
  345,
  646,
  29,
  54,
  616,
  125,
  17,
  11,
  620,
  516,
  97,
  30,
  405,
  270,
  41,
  64,
  252,
  16,
  7,
  203,
  190,
  127,
  177,
  137,
  15,
  285,
  199,
  220,
  157,
  47,
  7,
  1110,
  235,
  99,
  194,
  27,
  721,
  546,
  568,
  829,
  568,
  412,
  294,
  527,
  199,
  65,
  88,
  88,
  342,
  160,
  180,
  621,
  88,
  39,
  45,
  68,
  157,
  24,
  25,
  562,
  38,
  19,
  69,
  59,
  402,
  72,
  ...]}

# Our own data loader

In [30]:
import pandas as pd
import numpy as np
import sys
sys.path.append("../src/utils")
from utils import read_raw_network_data, preprocess

In [32]:
trafo_id = "T1330" #T1330 T0932
data, _ = read_raw_network_data(trafo_id, depth=1)
data = preprocess(data)

In [116]:
df_measurements = data["measurements"]
df_nodes = data["nodes_static_data"]
df_edges = data["edges_static_data"]

In [66]:
df_edges.head()

,from_node_id,to_node_id,length_km,r_ohm_per_km,x_ohm_per_km,max_i_ka,type,d_mm2,coords,coords_transformed
0,94,110,0.055,0.533,0.079,0.176,cs,70.0,"[[530374.6612999998, 153999.8621999994], [5303...","[[21.486049387812564, 49.254584020619056], [21..."
1,100,110,0.037,0.533,0.079,0.176,cs,70.0,"[[530337.4517000001, 154015.33029999956], [530...","[[21.485565488389135, 49.2547210147785], [21.4..."
2,103,110,0.038,1.040,0.081,0.120,cs,35.0,"[[530337.4517000001, 154015.33029999956], [530...","[[21.485565488389135, 49.2547210147785], [21.4..."
3,103,104,0.035,0.627,0.081,0.159,cs,35.0,"[[530331.6523000002, 154036.7006000001], [5303...","[[21.48548847348933, 49.25491294229187], [21.4..."
4,6,7,0.092,0.533,0.079,0.176,cs,70.0,"[[530465.5811999999, 153943.5175999999], [5304...","[[21.487233318527778, 49.25408238978174], [21...."

In [81]:
data["edges_static_data"].drop(["from_node_id", "to_node_id"], axis=1).head()

,length_km,r_ohm_per_km,x_ohm_per_km,max_i_ka,type,d_mm2,coords,coords_transformed
0,0.055,0.533,0.079,0.176,cs,70.0,"[[530374.6612999998, 153999.8621999994], [5303...","[[21.486049387812564, 49.254584020619056], [21..."
1,0.037,0.533,0.079,0.176,cs,70.0,"[[530337.4517000001, 154015.33029999956], [530...","[[21.485565488389135, 49.2547210147785], [21.4..."
2,0.038,1.040,0.081,0.120,cs,35.0,"[[530337.4517000001, 154015.33029999956], [530...","[[21.485565488389135, 49.2547210147785], [21.4..."
3,0.035,0.627,0.081,0.159,cs,35.0,"[[530331.6523000002, 154036.7006000001], [5303...","[[21.48548847348933, 49.25491294229187], [21.4..."
4,0.092,0.533,0.079,0.176,cs,70.0,"[[530465.5811999999, 153943.5175999999], [5304...","[[21.487233318527778, 49.25408238978174], [21...."

In [83]:
df_nodes.head()

,node_id,aclass_id,smm_list,prikljucna_moc_odjem,prikljucna_moc_odjem_aggr,prikljucna_moc_oddaja,prikljucna_moc_oddaja_aggr,x_y,lon_lat
0,0,TR,[nan],[nan],NaN,[nan],NaN,"(530670.5350000001, 153984.66459999979)","(21.489888056885366, 49.254464475525744)"
1,1,RO,[nan],[nan],NaN,[nan],NaN,"(530624.3164999997, 154054.6559999995)","(21.48928277111593, 49.25509150386318)"
2,2,RO,[nan],[nan],NaN,[nan],NaN,"(530614.5626999997, 153929.52500000037)","(21.48916671919818, 49.25396514965445)"
3,3,RO,[nan],[nan],NaN,[nan],NaN,"(530582.3731000004, 153957.00579999946)","(21.488746936005448, 49.2542105251013)"
4,4,RO,[nan],[nan],NaN,[nan],NaN,"(530534.8115999997, 153926.6462999992)","(21.48813262185447, 49.253934624161346)"

In [92]:
len(df_nodes)

113

In [113]:
timestamp = 0
nodes_list = list(df_nodes["node_id"])
date_time, df = list(data["measurements"].groupby("date_time"))[timestamp]
#order df by node_id
df_sorted = df.sort_values(by="node_id")
meann = df_sorted.mean()
meann["active_power"] = 0
meann["reactive_power"] = 0

missing_nodes = [i for i in nodes_list if i not in df_sorted["node_id"].values]
print(missing_nodes)

#add meann to df for each missing node where you replace node_id with missing node
for node in missing_nodes:
    meann["node_id"] = node
    #add meann as row to df
    new_row = meann.to_frame().transpose()
    df_sorted = pd.concat([df_sorted, new_row], ignore_index=True)


df_sorted.sort_values(by="node_id")["node_id"].values

[1, 2, 3, 4, 5, 6, 7, 19, 34, 37, 38, 40, 42, 46, 58, 59, 85, 92, 107, 108, 109, 110, 111, 112]

C:\Users\Karel\AppData\Local\Temp\ipykernel_15648\628193972.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  meann = df_sorted.mean()

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100., 101., 102., 103., 104., 105., 106., 107., 108., 109.,
       110., 111., 112.])

In [146]:
df_nodes.head()

,node_id,aclass_id,smm_list,prikljucna_moc_odjem,prikljucna_moc_odjem_aggr,prikljucna_moc_oddaja,prikljucna_moc_oddaja_aggr,x_y,lon_lat
0,0,TR,[nan],[nan],NaN,[nan],NaN,"(530670.5350000001, 153984.66459999979)","(21.489888056885366, 49.254464475525744)"
1,1,RO,[nan],[nan],NaN,[nan],NaN,"(530624.3164999997, 154054.6559999995)","(21.48928277111593, 49.25509150386318)"
2,2,RO,[nan],[nan],NaN,[nan],NaN,"(530614.5626999997, 153929.52500000037)","(21.48916671919818, 49.25396514965445)"
3,3,RO,[nan],[nan],NaN,[nan],NaN,"(530582.3731000004, 153957.00579999946)","(21.488746936005448, 49.2542105251013)"
4,4,RO,[nan],[nan],NaN,[nan],NaN,"(530534.8115999997, 153926.6462999992)","(21.48813262185447, 49.253934624161346)"

In [138]:
def add_missing_measurements(df_measurements, node_ids_list, mode):
    """
    Add missing measurements to df_measurements for each node_id.
    Different modes avaliable:
    - "mean": add mean of all measurements for each node_id except _power is set to 0
    """
    #get mean timeseries of all measurements
    mean_alltime = df_measurements.groupby("date_time").agg("mean").reset_index()
    #set active_power and reactive_power to 0
    mean_alltime["active_power"] = 0
    mean_alltime["reactive_power"] = 0

    #find missing nodes
    missing_nodes = [i for i in node_ids_list if i not in df_measurements["node_id"].unique()]

    for node in missing_nodes:
        print(f'missing node {node} filling in')
        mean_alltime["node_id"] = node
        df_measurements = pd.concat([df_measurements, mean_alltime], ignore_index=True)

    return df_measurements

# def add_static_data_to_ts(df_measurements, df_nodes):
#     """
#     Add static data to df_measurements.
#     """
#     df_measurements = df_measurements.merge(df_nodes, on="node_id", how="left")
#     return df_measurements


nodes_list = list(df_nodes["node_id"])
df_measurements_new = add_missing_measurements(df_measurements, nodes_list, mode="mean")

missing node 1 filling in
missing node 2 filling in
missing node 3 filling in
missing node 4 filling in
missing node 5 filling in
missing node 6 filling in
missing node 7 filling in
missing node 19 filling in
missing node 34 filling in
missing node 40 filling in
missing node 108 filling in
missing node 109 filling in
missing node 110 filling in
missing node 111 filling in
missing node 112 filling in

In [140]:
df_measurements_new["node_id"].unique()

array([  0.,   8.,   9.,  10.,  11.,  12.,  13.,  14.,  15.,  16.,  17.,
        18.,  20.,  21.,  22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,
        30.,  31.,  32.,  33.,  35.,  36.,  39.,  41.,  43.,  44.,  45.,
        47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,  56.,  57.,
        60.,  61.,  62.,  63.,  64.,  65.,  66.,  67.,  68.,  69.,  70.,
        71.,  72.,  73.,  74.,  75.,  76.,  77.,  78.,  79.,  80.,  81.,
        82.,  83.,  84.,  86.,  87.,  88.,  89.,  90.,  91.,  93.,  94.,
        95.,  96.,  97.,  98.,  99., 100., 101., 102., 103., 104., 105.,
       106.,  46.,  59.,  38.,  58.,  37.,  42.,  85., 107.,  92.,   1.,
         2.,   3.,   4.,   5.,   6.,   7.,  19.,  34.,  40., 108., 109.,
       110., 111., 112.])

In [127]:
mean_alltime = df_measurements.groupby("date_time").agg("mean")
mean_alltime["active_power"] = 0
mean_alltime["reactive_power"] = 0

nodes_list = list(df_nodes["node_id"])
missing_nodes = [i for i in nodes_list if i not in df_measurements["node_id"].unique()]

df_measurements = df_measurements.copy()

for node in missing_nodes:
    print(f'missing node {node} filling in')
    mean_alltime["node_id"] = node
    df_measurements2 = pd.concat([df_measurements2, mean_alltime], ignore_index=True)

missing node 1 filling in
missing node 2 filling in
missing node 3 filling in
missing node 4 filling in
missing node 5 filling in
missing node 6 filling in
missing node 7 filling in
missing node 19 filling in
missing node 34 filling in
missing node 40 filling in
missing node 108 filling in
missing node 109 filling in
missing node 110 filling in
missing node 111 filling in
missing node 112 filling in

(0.0,
                    date_time  node_id     voltage  temperature_2m  snow_depth  \
 0        2021-06-01 00:00:00      0.0  234.276667       13.055012         0.0
 89       2021-06-01 00:15:00      0.0  233.896667       12.967513         0.0
 178      2021-06-01 00:30:00      0.0  234.823333       12.880013         0.0
 267      2021-06-01 00:45:00      0.0  233.530000       12.792512         0.0
 356      2021-06-01 01:00:00      0.0  232.370000       12.705013         0.0
 ...                      ...      ...         ...             ...         ...
 6274071  2023-06-01 21:00:00      0.0  231.790000       18.806405         0.0
 6274167  2023-06-01 21:15:00      0.0  231.870000       18.656405         0.0
 6274263  2023-06-01 21:30:00      0.0  232.323333       18.506404         0.0
 6274359  2023-06-01 21:45:00      0.0  233.810000       18.356405         0.0
 6274455  2023-06-01 22:00:00      0.0  234.570000       18.206405         0.0

          cloud_cover  is_day  shortwave_radiation  direct_radiation  \
 0          20.100000     0.0                  0.0               0.0
 89         20.100000     0.0                  0.0               0.0
 178        20.100000     0.0                  0.0               0.0
 267        20.100000     0.0                  0.0               0.0
 356        20.100000     0.0                  0.0               0.0
 ...              ...     ...                  ...               ...
 6274071    30.000000     0.0                  0.0               0.0
 6274167    25.425000     0.0                  0.0               0.0
 6274263    20.850000     0.0                  0.0               0.0
 6274359    16.275002     0.0                  0.0               0.0
 6274455    11.700001     0.0                  0.0               0.0

          diffuse_radiation  direct_normal_irradiance  active_power  \
 0                      0.0                       0.0      168900.0
 89                     0.0                       0.0      133400.0
 178                    0.0                       0.0      126000.0
 267                    0.0                       0.0      118300.0
 356                    0.0                       0.0      125000.0
 ...                    ...                       ...           ...
 6274071                0.0                       0.0      200200.0
 6274167                0.0                       0.0      203400.0
 6274263                0.0                       0.0      230500.0
 6274359                0.0                       0.0      178300.0
 6274455                0.0                       0.0      175900.0

          reactive_power
 0               29000.0
 89              22100.0
 178             18200.0
 267             16000.0
 356             16900.0
 ...                 ...
 6274071         67300.0
 6274167         55800.0
 6274263         47700.0
 6274359         31100.0
 6274455         25900.0

 [70160 rows x 13 columns])

In [119]:
list(df_measurements_new.groupby("date_time"))[0][1]["node_id"].values

array([  0.,   8.,   9.,  10.,  11.,  12.,  13.,  14.,  15.,  16.,  17.,
        18.,  20.,  21.,  22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,
        30.,  31.,  32.,  33.,  35.,  36.,  39.,  41.,  43.,  44.,  45.,
        47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,  55.,  56.,  57.,
        60.,  61.,  62.,  63.,  64.,  65.,  66.,  67.,  68.,  69.,  70.,
        71.,  72.,  73.,  74.,  75.,  76.,  77.,  78.,  79.,  80.,  81.,
        82.,  83.,  84.,  86.,  87.,  88.,  89.,  90.,  91.,  93.,  94.,
        95.,  96.,  97.,  98.,  99., 100., 101., 102., 103., 104., 105.,
       106.])

In [142]:
df_nodes.head()

,node_id,aclass_id,smm_list,prikljucna_moc_odjem,prikljucna_moc_odjem_aggr,prikljucna_moc_oddaja,prikljucna_moc_oddaja_aggr,x_y,lon_lat
0,0,TR,[nan],[nan],NaN,[nan],NaN,"(530670.5350000001, 153984.66459999979)","(21.489888056885366, 49.254464475525744)"
1,1,RO,[nan],[nan],NaN,[nan],NaN,"(530624.3164999997, 154054.6559999995)","(21.48928277111593, 49.25509150386318)"
2,2,RO,[nan],[nan],NaN,[nan],NaN,"(530614.5626999997, 153929.52500000037)","(21.48916671919818, 49.25396514965445)"
3,3,RO,[nan],[nan],NaN,[nan],NaN,"(530582.3731000004, 153957.00579999946)","(21.488746936005448, 49.2542105251013)"
4,4,RO,[nan],[nan],NaN,[nan],NaN,"(530534.8115999997, 153926.6462999992)","(21.48813262185447, 49.253934624161346)"

In [149]:
df_nodes.head()

,node_id,aclass_id,smm_list,prikljucna_moc_odjem,prikljucna_moc_odjem_aggr,prikljucna_moc_oddaja,prikljucna_moc_oddaja_aggr,x_y,lon_lat
0,0,TR,[nan],[nan],NaN,[nan],NaN,"(530670.5350000001, 153984.66459999979)","(21.489888056885366, 49.254464475525744)"
1,1,RO,[nan],[nan],NaN,[nan],NaN,"(530624.3164999997, 154054.6559999995)","(21.48928277111593, 49.25509150386318)"
2,2,RO,[nan],[nan],NaN,[nan],NaN,"(530614.5626999997, 153929.52500000037)","(21.48916671919818, 49.25396514965445)"
3,3,RO,[nan],[nan],NaN,[nan],NaN,"(530582.3731000004, 153957.00579999946)","(21.488746936005448, 49.2542105251013)"
4,4,RO,[nan],[nan],NaN,[nan],NaN,"(530534.8115999997, 153926.6462999992)","(21.48813262185447, 49.253934624161346)"

In [161]:
date_time='2021-06-01 00:30:00'
some_df = df_measurements_new.groupby("date_time").get_group(date_time).sort_values("node_id").drop(["date_time", "node_id"], axis=1)
#get index of voltage column in some_df
voltage_idx = some_df.columns.get_loc("voltage")
#get column at index 0 from some_df
some_df.iloc[:, voltage_idx]

0

In [162]:
from torch_geometric_temporal.signal import StaticGraphTemporalSignal

In [173]:

def add_missing_measurements(df_measurements, node_ids_list, mode):
    """
    Add missing measurements to df_measurements for each node_id.
    Different modes avaliable:
    - "mean": add mean of all measurements for each node_id except _power is set to 0
    """
    #get mean timeseries of all measurements
    mean_alltime = df_measurements.groupby("date_time").agg("mean").reset_index()
    #set active_power and reactive_power to 0
    mean_alltime["active_power"] = 0
    mean_alltime["reactive_power"] = 0

    #find missing nodes
    missing_nodes = [i for i in node_ids_list if i not in df_measurements["node_id"].unique()]

    for node in missing_nodes:
        print(f'missing node {node} filling in')
        mean_alltime["node_id"] = node
        df_measurements = pd.concat([df_measurements, mean_alltime], ignore_index=True)

    return df_measurements

class GraphVoltDatasetLoader(object):
    '''
        Check this https://pytorch-geometric-temporal.readthedocs.io/en/latest/_modules/torch_geometric_temporal/dataset/wikimath.html#WikiMathsDatasetLoader
        for an example of how to implement a dataset loader

        And here are the docs https://pytorch-geometric-temporal.readthedocs.io/en/latest/modules/signal.html
    '''
    def __init__(self, trafo_id, lags):
        self._trafo_id = trafo_id
        #number of historic timesteaps to consider : lags
        self._lags  = lags
        self._read_data()
    
    def _read_data(self):
        self._dataset = preprocess(read_raw_network_data(trafo_id, depth=1)[0])
        self._dataset["time_periods"] = len(self._dataset["measurements"]["date_time"].unique())

    def _get_edges(self):
        self._edges = self._dataset["edges_static_data"][["from_node_id", "to_node_id"]].values.T
    
    def _get_edge_weights(self):
        self._edges_weights = self._dataset["edges_static_data"].drop(["from_node_id", "to_node_id", "coords", "coords_transformed", "type"], axis=1).values

    def _get_targets_and_features(self):
        self._dataset["measurements"] = add_missing_measurements(self._dataset["measurements"], list(self._dataset["nodes_static_data"]["node_id"]), mode="mean")

        #drop unnnecesary columns
        df_static = self._dataset["nodes_static_data"].drop(columns=["smm_list", "prikljucna_moc_odjem", "prikljucna_moc_oddaja", "x_y", "lon_lat"])

        #if aclass_id is "PMO" or "TR" set it to 1 else 0
        df_static["aclass_id"] = df_static["aclass_id"].apply(lambda x: 1 if x in ["PMO", "TR"] else 0)

        #fill NaN with 0 in prikljucna_moc_odjem_aggr and prikljucna_moc_oddaja_aggr
        df_static["prikljucna_moc_odjem_aggr"] = df_static["prikljucna_moc_odjem_aggr"].fillna(0)
        df_static["prikljucna_moc_oddaja_aggr"] = df_static["prikljucna_moc_oddaja_aggr"].fillna(0)

        #add static data to each row
        self._dataset["measurements"] = self._dataset["measurements"].merge(df_static, on="node_id", how="left")

        #add columns minute, hour, day, month, year to self._dataset["measurements"]
        self._dataset["measurements"]["minute"] = self._dataset["measurements"]["date_time"].dt.minute
        self._dataset["measurements"]["hour"] = self._dataset["measurements"]["date_time"].dt.hour
        self._dataset["measurements"]["day"] = self._dataset["measurements"]["date_time"].dt.day
        self._dataset["measurements"]["month"] = self._dataset["measurements"]["date_time"].dt.month
        self._dataset["measurements"]["year"] = self._dataset["measurements"]["date_time"].dt.year

        #create features and targets

        #get sorted series of time_steps
        time_steps = self._dataset["measurements"].sort_values("date_time")["date_time"].unique()

        #get index of voltage column
        some_df = self._dataset["measurements"].groupby("date_time").get_group(self._dataset["measurments"]["date_time"][0]).sort_values("node_id").drop(["date_time", "node_id"], axis=1)
        voltage_idx = some_df.columns.get_loc("voltage") 

        #get list of np.arrays (2D) of features for each time_step    
        features = [features.append(self._dataset["measurements"].groupby("date_time").get_group(date_time).sort_values("node_id").drop(["date_time", "node_id"], axis=1).values) for date_time in time_steps]
        stacked_features = np.stack(features)

        #normalize TODO
        standardized_features = stacked_features

        #get list of lags for each time_step
        self.features = [
            standardized_features[i : (i + self._lags), : , voltage_idx ]
            for i in range(len(standardized_features) - self._lags)
        ]

        self.targets = [
            standardized_features[i + self._lags, : , : ]
            for i in range(len(standardized_features) - self._lags)
        ]

    

    def get_dataset(self):
        self._get_edges()
        self._get_edge_weights()
        self._get_targets_and_features()
        dataset = StaticGraphTemporalSignal(
            self._edges, self._edge_weights, self.features, self.targets
        )
        return dataset

In [174]:
loader = GraphVoltDatasetLoader(trafo_id="T1330", lags=5)

In [175]:
loader.get_dataset()

AttributeError: 'GraphVoltDatasetLoader' object has no attribute 'edges_data'